/*POPUP STYLES*/
.leaflet-div-icon {
  background: #a8a8a8;
  border-radius: 50%;
}

.custom .leaflet-popup-tip {
  background: #a9a9a9;
}
.custom .leaflet-popup-content-wrapper {
  color: #ffffff;
  background: #a9a9a9;
}
.custom .leaflet-popup-content {
  flex: 1;
  display: flex;
  margin: 6px;
  max-width: 150px;
  min-width: 100px;
  background: #a9a9a9;
}

.wave-score {
  color: white;
  padding: 5% 2%;
  min-width: 50px;
  text-align: center;
  border-radius: 10%;
  margin: -4% 2% -4% -4%;
  background-color: #f79429;
}

.wave-score > span {
  top: 15%;
  position: relative;
  line-height: normal;
  font-size: 1.4em;
}
.wave-link {
  text-align: center;
  margin-left: 5px;
}
.wave-link > a {
  color: black;
  font-size: 1.2em;
}

/*SEARCH CONTROL STYLES*/
#controlbox {
  position: fixed;
  left: 20%;
  top: 10px;
  width: 50%;
  margin-top: -50px;
  margin: 0 auto;
  transition: left 0.5s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-duration: 0.2s;
  transition-property: -webkit-transform, transform, visibility, opacity;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
#controlcontainer {
  top: 0;
  bottom: 0;
  z-index: 4;
  height: 100%;
  position: absolute;
  margin: 0 !important;
}
#btn-search{
  height: 36px;
}

.search-icon {
  height: 40px;
  width: 40px;
  float: right;
  color: #f89c29;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  #controlbox {
    left: 30%;
    width: 30%;
  }
}
@media (max-width: 420px) {
  #controlbox {
    left: 20%;
    width: 60%;
  }
}
@media (max-width: 340px) {
  #controlbox {
    left: 14%;
    width: 70%;
  }
}
